#wrapper {
width: 960px;
margin: 0 auto;
outline: 2px dashed orange;
}
#main {
float: left;
width: 60%;
margin: 0 5%;
outline: 2px dashed blue;
}
#extras {
float: left;
width: 25%;
margin: 0 5% 0 0;
outline: 2px dashed red;
}
#footer {
clear: left;
outline: 2px dashed black;
}